body {
  margin-top: 60px;
}

footer {
  text-align: center;
  font-size: smaller;
}

td > span.label {
  vertical-align: baseline;
}

#welcome {
  text-align: center;
  padding: 50px;
}

#welcome p {
  margin-top: 30px;
}
