%h2 Bug List

%table{:class=>"table table-bordered table-striped", :id=>"task-list"}
  %thead
    %tr
      %th.span2 bug
      %th.span7 summary
      %th.span1 status
      %th.span1 score
      %th.span1 language
  %tbody
    - tasks.sort do |a,b|
      - lang_cmp = a.fetch(:language, "") <=> b.fetch(:language, "")
      - if lang_cmp != 0
        - lang_cmp
      - else
        - a.fetch(:difficulty,50) <=> b.fetch(:difficulty,50)
    - end.each do |task|
      - solved = task[:score] > 0

      %tr{:class=>"#{'muted' if solved}"}
        %td
          %a{:href=>"/task/#{h task[:name]}/" } #{h task[:name]}
        %td= h task[:summary]
        %td
          - if solved
            %span{:class=>"label label-success"} MODIFIED
          - else
            %span{:class=>"label label-info"} ASSIGNED
        %td #{h task[:score]} of #{h task[:max_score]}
        %td= h task[:language]

%h2 Player

%table{:class=>"table table-bordered"}
  %tr
    %th.span2 Name
  %tr
    %th= h player_name
  %tr
    %th Machine
    %td= h machine_name
  %tr
    %th Total score
    %td= total_score

- if local_access
  %h4 Service
  %p
    %a{:class=>"btn btn-mini", :href=>"/admin/"} Admin
    %a{:class=>"btn btn-mini", :href=>"/registration/"} Registration
    %a{:class=>"btn btn-mini", :href=>"/scoreboard/"} Score board
    %a{:class=>"btn btn-mini", :href=>"/results/"} Results
