- solved = score > 0

%h2= h task.config["summary"]

%p

%table{:class=>"table table-bordered table-condensed"}
  %tr
    %th.span2 Status
    %td
      - if solved
        %span{:class=>"label label-success"} MODIFIED
      - else
        %span{:class=>"label label-info"} ASSIGNED
  
  %tr
    %th.span2 Bug
    %td= h task.config["name"]
  
  %tr
    %th Component
    %td= h task.config["component"]
    
  %tr
    %th Language
    %td= h task.config["language"]
    
  %tr
    %th Score points
    %td #{h score} from maximal #{task.config["max_score"]} points
    

%h3 Description
%pre= h task.config["text"]
  
- if (task.config["hints"].length > 0) && (score < task.config["max_score"])
  
  %h3 Hints
  
  -task.config["hints"].each_with_index do |hint, hint_index|
    -if hint_index < revealed_hints
      %p
        %span{:class=>"label label-important"} -1 score point
        %pre= h hint
    -elsif hint_index == revealed_hints
      %p
        %a{:id=>"reveal-next-hint", :class=>"btn btn-mini", :href=>"/task/#{task.config["name"]}/hint?num=#{(hint_index+1)}" } Reveal hint #{hint_index+1}                                    
    -else
      %p
        %div{:class=>"btn btn-mini disabled", :title=>"You have to reveal all previous hints to reveal this one."} Reveal hint #{hint_index+1}
      